<div class="push-top"></div>
<div class="row">
    <div class="youtube-container">
        <object width="640" height="360">
            <param name="movie"
                   value="https://www.youtube-nocookie.com/v/G5o4KxEhVmE?version=3&amp;hl=en_GB&amp;rel=0"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed ng-src="https://www.youtube-nocookie.com/v/{{youtube_id}}?version=3&amp;hl=en_GB&amp;rel=0"
                   type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always"
                   allowfullscreen="true"></embed>
        </object>
    </div>
</div>